body {
background-image: url("BG.jpg");
}

h1 {
  color: #41444b ;
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 65px;
  left: 450px;
}

h5:hover {
  color: #495464;
}

h1:hover {
  color: #495464;
}

h5 {
  color: #41444b ;
  font-family: 'Merriweather', serif;
}

.under {
  position: absolute;
  top:460px;
  left:695px;
}
.form {
  text-align: center;
  position: relative;
  top: 245px;
  left: 125px;
}
.wrong {
  position: absolute;
  top:250px;
  left:675px;
}
.Note {
  position: absolute;
  top:250px;
  left:565px;
}

.image img {
  width: 100px;
  position: absolute;
  top: 60px;
  right: 425px;
}

.Footer {
  position: absolute;
  bottom:35px;
  left: 650px;
}
.social {
margin: 20px 35px;
}

p {
  position: absolute;
  bottom:5px;
  left: 725px;
}
